.DS_Store
.env
.env.*
!.env.example
!.env.production.example
.git
.github
.idea
.mypy_cache
.pytest_cache
.ruff_cache
.venv
.vscode
**/__pycache__
**/*.py[cod]
*.db
**/node_modules
**/dist
coverage.xml
eval/runs
htmlcov
playwright-report
test-results
*.log
*.sql
*.tar.gz
